@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
    margin: auto;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #3E4955;
}

main {
    padding: 100px;
}

main div {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

nav {
    /* width: 100%; */
    /* 80px + 20px padding ( 100s height nav ) */
    height: 80px;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: #0B1622;
    font-size: 18px;
}

nav ul {
    display: inline-flex;
    padding: 0;
    width: 100%;
    margin: 0;
}

nav li:nth-child(3) {
    margin-left: auto;
}

nav li:nth-child(5) {
    margin-right: auto;
}

nav li:last-child {
    width: 191.48px;
}

nav li {
    /* Vertically and horizontally align list items */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 110px;
}

nav li a {
    color: #FFFFFF;
    text-decoration: none;
}

nav li a:hover {
    color: #C4C4C4;
}

a:link {
    color: #FFF;
    height: auto;
    width: auto;
}

#about, #skills, #projects, #contact div {
    background-color: #0B1622;
    padding: 10px;
    margin-bottom: 10px;
}

#emailNow:hover {
    color: #C4C4C4;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.portrait {
    display: block;
    align-self: center;

    padding: 10px;
    max-width:200px;
    max-height:450px;
    width: auto;
    height: auto;
}

.openingWord {
    font-size: 48px;
}

.paragraph {
    font-size: larger;
    padding: 10px;
}

.sectionTitle {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: xx-large;
}

.logo {
    border: none;
    padding: 1em;
    max-width: 128px;
    max-height: 128px;
}

.square {
    display: inline-flex;
    background-color: #C4C4C4;
    color: #000000;
    padding: 30px;
    margin-right: 10px;
}

.heading {
    font-size: 48px;
}

/* Desktop */
@media only screen and (min-width: 800px) {

    #lang0 {
        display: flex;
        justify-content: center;
    }

    #lang1, #lang2 {
        display: none;
    }
}  

/* Tablet */
@media only screen and (max-width: 768px) {

    #lang0 {
        display: none;
    }

    #lang1, #lang2 {
        display: flex;
        justify-content: center;
    }
} 