@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #3E4955;
}

main {
    padding: 10px;
}

main div {
    display: flex;
    justify-content: center;
    border-radius: 2.5px;
}

nav {
    height: 40px;
    padding: 5px;
    background-color: #0B1622;
    font-size: 9px;
    margin-bottom: 5px;
}

nav ul {
    display: inline-flex;
    padding: 0;
    width: 100%;
    margin: 0;
}

nav li {
    /* Vertically and horizontally align list items */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:nth-child(3) {
    display: none;
}

nav li:nth-child(4) {
    display: none;
}

nav li:nth-child(5) {
    display: none;
}

nav li a {
    color: #FFFFFF;
    text-decoration: none;
}

a:link {
    color: #FFF;
    height: auto;
    width: auto;
}

#about, #skills, #projects, #contact div {
    background-color: #0B1622;
    padding: 10px;
    margin-bottom: 10px;
}

#lang0 {
    display: none;
}

#emailNow {
    margin-left: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.openingWord {
    font-size: 24px;
}

.paragraph {
    font-size: large;
    padding: 10px;
}

.sectionTitle {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 24px;
}

.logo {
    border: none;
    padding: 0.5em;
    max-width: 64px;
    max-height: 64px;  
}

.square {
    display: inline-flex;
    background-color: #C4C4C4;
    color: #000000;
    padding: 15px;
    margin-right: 5px;
}

.portrait {
    display: none;
    align-self: top;

    padding: 5px;
    max-width: 200px;
    max-height: 450px;
    width: auto;
    height: auto;
}
